
html{
  scroll-behavior: smooth;
}#header{

    background-image:  linear-gradient(rgba(0,0,0,0.5) 80%,#e67e22),url(17452.jpg);
    background-size: cover;
    background-position: center;
    
}
/* ------Menubaar-------- */
 img{
    width: 180px;
    height: 130px;
}
 .menu ul{
    display: flex;
   justify-content: flex-end;
} 
.menu ul li{
    list-style: none;
    font-size: 20px;
   
}
.menu ul li a{
     display: inline-block; 
    padding: 3px 15px;
    color: white;
    text-decoration: none;
}
 /* --------heading-----------  */
#container1{
    display: flex;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15%;
    color: white;
}
.btn:hover {
    background: #b91d3f;
    box-shadow: 0 0 2px #790c24, 0 0 20px #83112a, 0 0 30px #9e1734, 0 0 50px #7a142a;
}
.head{
   font-size: 50px;
   font-weight: 20;
}
/* -----footer------- */
.footer{
    width: 100%;
    text-align: center;
    color: white;
    padding: 25 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px; 
}
.change_content:after{
    content:'';
    animation: changetext 10s infinite linear;
}

.change_content:after {
    content: "";
    animation: changetext 10s infinite linear;
    /* color: #fcb110; */
  }
  
  @keyframes changetext {
    0% {
      content: "GOD HAND";
      color: #e2b215;
    }
    20% {
      content: "RESIDENT EVIL 4";
      color: #e6a00b;
    }
    40% {
      content: "GOD HAND";
      color: #b91d3f;
    }
    60% {
      content: "RESIDENT EVIL 4";
      color: #e7eb18;
    }
    80% {
      content: "GOD HAND";
      color: #e28c0c;
    }
    100% {
      content: "RESIDENT EVIL 4";
      color: #da2f11;
    } 
  }



/* mobile phone */
@media (max-width: 705px){
    #navbar{
        display: flex; 
         align-items: center; 
         justify-content: space-around;
         flex-direction: column;
     }
     #logo{
        width: 50px;
        height: 50px;
       }
       #logo img{
           height: 80px;
           width: 80px;
}
@media (max-width: 521px){
    .container ul {
        display: flex;
        flex-direction: column;
    }
    @media (max-width: 350px){
        .menu ul{
      display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        flex-direction: column;
       }
       img{
        width: 180px;
        height: 170px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu ul li a{
         display: inline-block; 
        padding: 3px 15px;
        color: white;
        text-decoration: none;
    } 